<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YourTube_Downloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <userSettings>
        <YourTube_Downloader.Properties.Settings>
            <setting name="HeaderColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="BackGroundColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="DownloadedBytes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UserSaveDir" serializeAs="String">
                <value />
            </setting>
            <setting name="UseAppDir" serializeAs="String">
                <value>True</value>
            </setting>
        </YourTube_Downloader.Properties.Settings>
    </userSettings>
</configuration>